apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlops
spec:
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: 5000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: docker-compose-mlflow:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_S3_ENDPOINT_URL
              value: "http://minio:9000"
            - name: AWS_ACCESS_KEY_ID
              valueFrom: {secretKeyRef: {name: mlops-secrets, key: AWS_ACCESS_KEY_ID}}
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom: {secretKeyRef: {name: mlops-secrets, key: AWS_SECRET_ACCESS_KEY}}
            - name: AWS_DEFAULT_REGION
              valueFrom: {secretKeyRef: {name: mlops-secrets, key: AWS_DEFAULT_REGION}}
          command: ["mlflow"]
          args:
            - "server"
            - "--host"
            - "0.0.0.0"
            - "--port"
            - "5000"
            - "--serve-artifacts"
            - "--allowed-hosts"
            - "*"
            - "--backend-store-uri"
            - "postgresql://mlflow:mlflow123@postgres:5432/mlflow"
            - "--artifacts-destination"
            - "s3://mlflow-artifacts"
