apiVersion: batch/v1
kind: Job
metadata:
  name: train-iris-gpu
  namespace: mlops
spec:
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      imagePullSecrets:
        - name: ghcr-pull
      containers:
        - name: train
          image: ghcr.io/mlops-project-platform/mlops-research-template:v1.0.3-prod
          imagePullPolicy: Always
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow.mlops.svc.cluster.local:5000"
            - name: CONFIG_PATH
              value: "configs/default.yaml"
          resources:
            limits:
              nvidia.com/gpu: "1"
          workingDir: "/workspace"
          command: ["python"]
          args: ["src/train.py"]
