name: Build & Push Training Image

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout research repo
        uses: actions/checkout@v4

      - name: Checkout platform repo (for Dockerfile)
        uses: actions/checkout@v4
        with:
          repository: MLops-Project-Platform/mlops-platform
          ref: main
          path: mlops-platform

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: mlops-platform/${{ inputs.dockerfile_path }}
          push: true
          tags: |
            ghcr.io/mlops-project-platform/${{ inputs.image_name }}:${{ github.ref_name }}
            ghcr.io/mlops-project-platform/${{ inputs.image_name }}:latest
